*{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat;
    background-color: #15202b;
    
    
}

.container{
    height: 280px;
    width: 350px;
    background-color: #22303c;
    color: #8899a6;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px 8px #00000042;
}

.main-heading{
    font-size: 22px;
    margin-bottom: 22px;
    text-align: center;
}

.password{
    border-radius: 4px;
    height: 28px;
    width: 300px;
    font-family: Roboto;
    margin-bottom: 16px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #151515;
    padding-top: 10px;
    padding-left: 10px;
}
.password{
    position: relative;
}

.icon{
    position: absolute;
    right: 590px;
    top: 273px;
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
    
}

.specs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14.5px;
}


button{
    margin-top: 16px;
    background-color: #47A1EB;
    padding: 10px 30px;
    border-radius: 4px;
    border-width: 0px;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat;
    margin-left: 78px;

}

